# Range()
We're are going to use in the Range() function when we want to use numbers in a particular range in Python

range (start,stop,step)

In [3]:
range(0,5)

range(0, 5)

In [4]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [5]:
list(range(0,5,2))

[0, 2, 4]

In [6]:
list1=[1,3,5,7,9]
list2=[2,4,6,8,10]

In [7]:
list1 * list2

TypeError: can't multiply sequence by non-int of type 'list'

In [10]:
new_list=[]

for i in range(0,len(list1)):
    new_list.append(list1[i]*list2[i])

In [11]:
new_list

[2, 12, 30, 56, 90]

In [12]:
import numpy as np

In [13]:
x = np.array([1,3,5,7,9])
y = np.array([2,4,6,8,10])

In [15]:
print(type(x))

<class 'numpy.ndarray'>

In [14]:
x * y

array([ 2, 12, 30, 56, 90])